# Supabase Configuration
SUPABASE_URL=https://czcsqtmoedwsprklnovj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6Y3NxdG1vZWR3c3Bya2xub3ZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc3ODA4OTAsImV4cCI6MjA3MzM1Njg5MH0.cFMwZxeHcu_Vw-75biuFTiHAi--uOdvjbQN9NjY7ndo

# Server Configuration
PORT=3000
